*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

.container {
    position: relative;
    height: 500px;
    width: 70%;
    margin: 0 auto;
    background-image: url(https://it.filofax.com/media/catalog/product/cache/1/image/700x700/9df78eab33525d08d6e5fb8d27136e95/1/3/132201-front.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
}

.todo-space{
    margin: 10px;
    width: 30%;
    position: absolute;
    right: 146px;
}

#todo-list {
    position: absolute;
    left: 31%;
    top: 90px;

}

#todo-input{
    width: 200px;
    border-radius: 50px;
    padding: 10px;
}

#todo-input:focus{
    outline: none;
}

#todo-button{
    width: 80px;
    border-radius: 50px;
    padding: 5px;
}

#todo-button:hover{
    background-color: lightgrey;
}

.cestino, .modifica {
    float: left;
    cursor: pointer;
    display: inline-block;
    margin: 1px 5px 1px 5px;
}
.modifica.hidden {
    display: none;
}

.save-todo{
    display: none;
}

.save-todo.active{
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 1px 5px 1px 5px;
}

.edit-todo-input {
    display: none;
}

.edit-todo-input.active {
    display: inline-block;
}

.todo-text {
    display: inline-block;
}

.todo-text.hidden {
    display: none;
}

li {
    margin-bottom: 10px;
}
